// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #5672D7;
$yellow: #F3C344;
$light-yellow: #eae0c5;
$orange: #E67E22;
$green: #1a7a4f;
$gray: #0E0000;
$light-gray: #F4F4F4;
