<div class= "top">
  <div class="container">

    <section class="mt-4 mb-4 top-section text-center">
      <h1></h1>
      <p></p>
    </section>
  </div>
</div>
    <section class="featured-internships py-5">
    <h2 class="mt-2 mb-4 text-center fs-3 rounded-2" style= "margin: 1rem 0; ">
    Featured Internships </h2>

    <div class="container">
      <div class="row justify-content-center g-4">
        <% @internships.each do |internship| %>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
              <% images = ['back.jpg', 'front.jpg', 'full.png', 'corporate.png', 'digital.png', 'financial.jpg', 'stock.jpg', 'tech.jpg', 'work.jpg', 'workplace.jpg'] %>
              <% random_image = images.sample %>

              <img src="<%= asset_path(random_image) %>" class="img-fluid" alt="Internship image">

              <div class="card-body">
                <h5 class="card-title"><%= internship.title %></h5>
                <p class="card-text">Role: <%= internship.role %></p>
                <%= link_to "More info", internship_path(internship), class:"btn btn-info" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  </div>
