.navbar-lewagon {
  justify-content: space-between;
  background: #F3C343;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.footer {
  background: #F3C343
}
