// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body, .page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer-navbar {
  background-color: #343a40;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: auto;
}

.footer-nav-link {
  color: white;
}

.content {
  flex: 1;
  padding: 10px;
}

.top-section {
  color: gray;
  padding-top: 7rem;

}

.top-section h1 {
  font-size: 3rem;
  padding: 0;
}

.search-form .form-control {
  margin-right: 0.5rem;
}

.featured-internships, .popular-listings {
  text-align: left;
  border-radius: 30px;
  padding: 50px;
}

.internship-title {
  margin-top: 3rem;
  font-size: 1rem;
}

.listing-title {
  margin-top: 0.5rem;
}

.popular-listings .bg-light {
  padding-top: 2rem;
}
<<<<<<< HEAD
<<<<<<< HEAD

.intern-img {
  width: 350px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 0%;
}
=======
>>>>>>> 36b4cd48aefba72801e4061bf0230a4ac83aa46f
=======
>>>>>>> 36b4cd48aefba72801e4061bf0230a4ac83aa46f
